{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/plugin/coolsms/static/css/coolsms-light.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="/plugin/coolsms/static/css/coolsms-dark.min.css" media="(prefers-color-scheme: dark)">

    <script src="/plugin/coolsms/static/js/coolsms.functions.min.js"></script>
    <script src="/plugin/coolsms/static/js/coolsms.min.js"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subtitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <div id="coolsms-wrap">
        <div class="sms-search">
            <form method="get">
                <div class="form-group">
                    <label for="sms_search_to">수신 번호</label>

                    <div class="form-float">
                        <input
                            type="text" name="sms_search_to" id="sms_search_to" placeholder="010-0000-0000"
                            value="{{ params['s_rcpt'] }}"
                        >
                        <i class="form-helper"></i>
                    </div>
                </div>

                <div class="form-group m-l-40">
                    <label for="sms_search_start_date">시작 일시</label>

                    <div class="form-float">
                        <input
                            type="text" name="sms_search_start_date" id="sms_search_start_date"
                            placeholder="{{ params['start'] }}"
                            value="{{ params['start'] }}"
                        >
                        <i class="form-helper"></i>
                    </div>
                </div>

                <span class="m-r-5 m-l-10">~</span>

                <div class="form-group">
                    <label for="sms_search_end_date">종료 일시</label>

                    <div class="form-float">
                        <input
                            type="text" name="sms_search_end_date" id="sms_search_end_date"
                            placeholder="{{ params['end'] }}"
                            value="{{ params['end'] }}"
                        >
                        <i class="form-helper"></i>
                    </div>
                </div>

                <div class="form-group m-l-40">
                    <label for="sms_search_count">게시글 수</label>

                    <div class="form-float">
                        <input
                            type="number" name="sms_search_count" id="sms_search_count" placeholder="{{ params['count'] }}"
                            value="{{ params['count'] }}"
                        >
                        <i class="form-helper"></i>
                    </div>
                </div>

                <button type="submit" class="button button-search m-l-10">
                    <i class="fa fa-search fa-fw"></i>
                </button>
            </form>
        </div>

        <div class="sms-box sms-list">
            <dl>
                <dt>발송 결과 리스트</dt>
                <dd class="colspan-3">{% include template_path + '/admin/list.html' %}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
